body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(211, 210, 210);
  margin: auto;
}
header {
position: relative;
width: 100%;
height: 667px;
background-position: center;
background-image: url("./image/lampos-aritonang-24gR_9lCdes-unsplash\ 1.png");
background-size: cover;
}

#logo {
  display: flex;
  flex-direction: row;
  padding-left: 5%;
  padding-top: 2%;
  width: 25%;
}

.title{
  height: auto;
  font-family: "Impact";
  font-style: normal;
  font-weight: 400;
  text-align: center;
  color: #ffd15b;
  width: 80%;
  font-size: 44px;
  line-height: 6vw;
  padding-left: 20%;
  padding-top: 15%;
}
#searchContainer {
  position: relative;
  display: inline-block;
  font-size: 2vw;
  padding-left: 20%;
}
.searchInput{
  width: 800px;
  padding-right: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
  border-radius: 11px;
}
.searchIcon{
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background-color: black;
  border-radius: 5px 5px 5px 5px;
  width: 4vw;
  padding: 1%;
}
#containerFilter {
  display: flex;
  gap: 10px;
  margin-top: 2%;
  margin-left: 5%;
  margin-bottom: 2%;
  flex-direction: row;
  width: auto;
}
.btnFilter{
  background-color: white;
  color: black;
  border: none;
  padding: 5px 10px;
  border-radius:10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  cursor: pointer;
  font-weight: 500;
  margin-right: 5%;
  height: 50px;
  overflow: hidden;
}
.btnFilter.open{
  height: auto;
}
.btnFilter.open i {
  position: relative;
  transform: rotate(180deg);
  bottom: 10px;
}
.btnFilter i {
  transition: transform 0.3s ease-in-out;
}
.titleFilter{
  display: flex;
  padding: 5px 10px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  justify-content: space-between;
}
.titleFilter h2 {
  font-size: 16px;
  font-weight: 500;
}
.searchFilter {
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}
.searchFilter input[type="text"] {
  width: 100%;
  padding-right: 25px;
}
.searchIconGrey {
  position: absolute;
  top: 20px;
  right: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
}
/* Styles pour les tablettes */
@media screen and (min-width: 768px) and (max-width: 992px) {
}
/* Styles pour les smartphone */
@media screen and (max-width: 767px) {
}
